<h1 class="text-center" > WELCOME TO RAILS, BIRDS </h1>
<div class="container"></div>
<section class="chirps">
  <% @chirps.each do |ch| %>
    <article class="chirp">
      <ul>
        <li><%= ch.user.first_name %></li>
      </ul>
      <%= ch.body %>
    </article>
  <% end %>
</section>
